@using LaLucha.Models
@model List<EmpleadoCLS> 
@{
    ViewBag.Title = "Empleados";
}

<br /><br />

@Html.ActionLink("Agregar","Agregar","Empleado",null,new { @class="btn"})


<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.LabelFor(p => Model[0].id)</th>
            <th>@Html.LabelFor(p => Model[0].idTipoEmpleado)</th>
            <th>@Html.LabelFor(p => Model[0].nombre)</th>
            <th>@Html.LabelFor(p => Model[0].celular)</th>
            <th>@Html.LabelFor(p => Model[0].correo)</th>
            <th>@Html.LabelFor(p => Model[0].direccion)</th>
            <th>@Html.LabelFor(p => Model[0].sueldo)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.id</td>
            <td>@item.idTipoEmpleado</td>
            <td>@item.nombre</td>
            <td>@item.celular</td>
            <td>@item.correo</td>
            <td>@item.direccion</td>
            <td>@item.sueldo</td>
        </tr>
        }
    </tbody>
</table>

